.product__wrapper {
  width: 100%;
  text-align: center;
  padding: 5% 5%;
}

.product__wrapper h1 {
  margin-bottom: 40px;
  color: #2f2f2f;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}

.product {
  width: 324px;
  height: 500px;

  box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
  background: white;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product img {
  width: 100%;
}

.product strong,
b {
  padding-top: 10px;
  color: #1f1f1f;
  width: 100%;
}

.product button {
  margin-top: 10px;
  padding: 10px 25px;
  color: #1f1f1f;
  font-weight: 500;
  background: #ddd;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
  background: #01a550;
  color: white;
  border-radius: 6px;
}

.product button:hover {
  transform: scale(1.1);
}
