.main {
  width: 100%;
  height: 720px;
  background: url(../../assets/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main div {
  border-radius: 16px;
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 4em;
}
.main div h1 {
  margin-bottom: 32px;
  color: #2f2f2f;
  font-size: 30px;
}
.main div p {
  margin-bottom: 32px;
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 500;
}
.main div button {
  width: 13rem;
  height: 3rem;
  border-radius: 5em;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #00a550;
}
.main div button a {
  color: white;
}
.main div button:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
@media (max-width: 1024px) {
  .main div {
    width: 90%;
    padding: 1em 1em;
    background-position: center center;
  }
}
@media (max-width: 425px) {
  .main div h1 {
    font-size: 18px;
  }
  .main {
    background: url(../../assets/products/smesi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
