.basket__wrapper {
  width: 100%;
  padding: 5% 5%;
  text-align: center;
}
.basket__wrapper h1 {
  font-size: 44px;
  margin-bottom: 24px;
  color: #1f1f1f;
}
.basket__products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}
.basket__product {
  width: 324px;
  box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
  background: white;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.basket__product img {
  width: 100%;
  height: 292px;
  margin-bottom: 16px;
}

.basket__wrapper .removeBtn {
  margin-top: 10px;
  padding: 1em 1em;
  border: none;
  background: #00a550;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.buyBtn {
  margin-top: 40px;
  padding: 1em 1em;
  border: none;
  background: #00a550;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}
.basket__wrapper button:hover {
  transform: scale(1.1);
}
