.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15% 0 15%;
  background: white;
  border-bottom: 1px solid #ddd;
}
.header__content {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__content .logo {
  width: 150px;
}
.header__content h2 {
  font-weight: 500;
  font-size: 20px;
  color: #00a550;
}
.header__contacts {
  gap: 10px;
  display: flex;
  align-items: center;
}
.header__contacts img {
  width: 46px;
}
.header__contacts div {
  color: #00a550;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header__contacts div a {
  transition: 0.4s;
  cursor: pointer;
  font-weight: 500;
}
.header__contacts div a:hover {
  transform: scale(1.1);
}
@media (max-width: 950px) {
  .header {
    padding: 0 5% 0 5%;
  }
}
@media (max-width: 675px) {
  .header__content h2 {
    display: none;
  }
}
@media (max-width: 400px) {
  .header__contacts img {
    display: none;
  }
}
