.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

.logo img {
  width: 130px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .phone {
  width: 30px;
}
.nav .contacts {
  padding-left: 10px;
  border-left: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 6px;
}
.contacts .numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.nav .contacts a {
  color: #2f2f2f;
  font-weight: 500;
}
.aboutLink {
  color: #2f2f2f;
  font-weight: 500;
  padding: 0 15px 0 15px;
}
.aboutLink:hover {
  opacity: 0.5;
}
.nav .contacts a:hover {
  opacity: 0.5;
}
.navLink {
  margin: 0 1rem;
  color: #2f2f2f;
  text-decoration: none;
  font-weight: 500;
}

.navLink:hover {
  opacity: 0.5;
}

.navBtn {
  display: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #2f2f2f;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.navBtn.visible {
  visibility: visible;
  opacity: 1;
}

.responsive_nav {
  transform: translateY(-100%);
}

@media only screen and (max-width: 768px) {
  .navBtn {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
    transition: transform 1s;
    transform: translateY(-120%);
  }

  .nav .contacts {
    padding-right: 60px;
    border-left: none;
    font-size: 1.5rem;
  }
  .contacts .phone {
    width: 50px;
  }
  .responsive_nav {
    transform: translateY(0);
  }

  .navCloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .navLink {
    font-size: 1.5rem;
  }
  .aboutLink {
    font-size: 1.5rem;
  }
}
