.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 15%;
  background: #003519;
  margin-top: 40px;
}
.footer__about img {
  margin-bottom: 20px;
  width: 200px;
}
.footer__about {
  display: flex;
  flex-direction: column;
}
.footer__about b {
  color: white;
}
.footer__contacts {
  text-align: end;
  display: flex;
  flex-direction: column;
}
.footer__contacts a {
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.footer__contacts h2 {
  margin-bottom: 5px;
  color: white;
}
.footer__contacts a:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.footer__contacts div {
  justify-content: end;
  display: flex;
}
.footer__contacts div img {
  margin-left: 20px;
  width: 40px;
}
@media (max-width: 768px) {
  .footer {
    padding: 2em 2em;
  }
}
@media (max-width: 490px) {
  .footer__about img {
    width: 100px;
  }
  .footer {
    padding: 5px 5px;
  }
  .footer__about b {
    font-size: 12px;
  }
  .footer__contacts h2 {
    font-size: 18px;
  }
  .footer__contacts a {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .footer__contacts h2 {
    font-size: 12px;
  }
  .footer__contacts a {
    font-size: 9px;
  }
  .footer__contacts div img {
    width: 24px;
  }
}
