.slide__wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.slide__wrapper h1 {
  font-size: 44px;
  color: #1f1f1f;
  margin-bottom: 24px;
}
.card img {
  width: 100%;
  cursor: grab;
}
.card {
  margin-top: 40px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 30px;
}

.card p {
  height: 120px;
  font-weight: 700;
  padding: 40px 10px 0 10px;
}
.card a {
  padding: 10px 10px;
  background: #00a550;
  color: white;
  border-radius: 6px;
}
.card a:hover {
  background: #008e45;
}
@media (max-width: 1036px) {
  .card p {
    height: 160px;
  }
}
@media (max-width: 640px) {
  .slide__wrapper h1 {
    font-size: 22px;
  }
}
